* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: blanchedalmond;
}

main {
    padding: 16px;
}

ol {
    display: inline-grid;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px;
    padding: 16px;
    border-color: black;
    background-color: maroon;
}

a {
    color: blueviolet;
    cursor: pointer;
    text-decoration: none;
}
.nav-link {
    color: white;
}
a:hover {
    color: green;
}



footer {
    padding: 24px 0px;
    position: bottom;
    text-align: match-parent;
    border-bottom-color: aqua;
    background-color: aqua;
}


.head-color {
    color: green;
}

.amount-food-item {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   /* grid-row: 10px 10px;
    column-gap: 50px;
    row-gap: 50px; */
    gap: 20px;
}

.grey1 {
    background-color: grey;
}

td, tr, th {
    border: 1px solid black;
}
